<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body class="user-edit">
    <div class="hub-nav">
        <div>
            <a href="/home/"><button class="button">HOME</button></a>
        </div>
        <div>
            <a href="/verbs/<%= verb._id%>">
                <button class="button">BACK</button>
            </a>
            <a href="/user/logout"><button class="button">LOGOUT</button></a>
        </div>
    </div>
    <main>
        <div>
            <form action="/verbs/<%= verb._id%>?_method=PUT" method="POST" class="entry">
                <fieldset>
                    <legend>Update your word!</legend>
                    <label for="english">English:</label><br>
                    <input type="text" id="english" name="english" placeholder="English" value="<%=verb.english%>"><br><br>
                    <label for="hiragana">Hiragana:</label><br>
                    <input type="text" id="hiragana" name="hiragana" placeholder="Hiragana" value="<%=verb.hiragana%>"><br><br>
                    <label for="kanji">Kanji:</label><br>
                    <input type="text" id="kanji" name="kanji" placeholder="Kanji" value="<%=verb.kanji%>"><br><br>
                    <label for="katakana">Katakana:</label><br>
                    <input type="text" id="katakana" name="katakana" placeholder="Katakana"value="<%=verb.katakana%>"><br><br>
                    <label for="memorized">Memorized? <input type="checkbox" name="memorized" <%= verb.memorized ? "checked":""%>/>
                    </label><br><br>
                    <input type="submit" value="UPDATE">
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>