<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <header>
        <nav>
            <a href="/nouns/<%= noun._id%>/edit">
                <button>EDIT</button>
            </a>
            <a href="/nouns/"><button>BACK</button></a>
            <form action="/nouns/<%= noun._id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
        </nav>
        <nav>
            <a href="/home/"><button>HOME</button></a>
            <a href="/user/logout"><button>LOGOUT</button></a>
        </nav>
    </header>
    <main>
        <h1><%= noun.english %></h1>
        <ul>
           <li>Hiragana: <%= noun.hiragana %></li><br>
           <li>Kanji: <%= noun.kanji %></li><br>
           <li>Katakana: <%= noun.katakana %></li><br>
           <li>Is this memorized? <%= noun.memorized ? "はい":"いいえ"%></li> 
        </ul>
    </main>
</body>
</html>