<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body class="entry">
    <header>
        <div class="hub-nav">
            <div>
                <a href="/home/"><button class="button">HOME</button></a>
            </div>
            <div>
            <a href="/nouns/"><button class="button">BACK</button></a>
            <a href="/user/logout"><button class="button">LOGOUT</button></a>
            </div>
        </div>
    </header>
    <main class="list-section">
        <h1 class="title-english"><%= noun.english %></h1>
        <ul class="sub-header enter-form">
           <li>Hiragana: <br><br><%= noun.hiragana %></li>
           <li>Kanji: <br><br><%= noun.kanji %></li>
           <li>Katakana: <br><br><%= noun.katakana %></li>
           <li>Is this memorized? <br><br><%= noun.memorized ? "はい":"いいえ"%></li> 
        </ul>
        <a href="/nouns/<%= noun._id%>/edit">
            <button class="button">EDIT</button>
        </a>
        <form action="/nouns/<%= noun._id%>?_method=DELETE" method="POST">
            <input class="button" type="submit" value="DELETE">
        </form>
    </main>
</body>
</html>